:root{
    --size-height-100: 100%;
    --size-width-100: 100%;
    --size-height-29: 29rem;
    --background-gradient-yellow: linear-gradient(0deg, rgba(233,157,20,1) 0%, rgba(160,98,5,1) 100%);
    --border-radius-20: 20px;
    --color-yellow: #E99D14;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
}

body{
    background: #FFF;
    
    a{
        color: #29292E;
    }
}

body, button{
    font: 400 16px "Barlow"
}

main{
    height:100vh;
}
